<div class="play_btn_insta_video_gallery">
  <svg xmlns="http://www.w3.org/2000/svg" width="109" height="109" viewBox="0 0 109 109" fill="none">
    <path d="M97.2255 54.5708C97.2255 77.9816 78.2473 96.9599 54.8364 96.9599C31.4256 96.9599 12.4474 77.9816 12.4474 54.5708C12.4474 31.16 31.4256 12.1817 54.8364 12.1817C78.2473 12.1817 97.2255 31.16 97.2255 54.5708Z" fill="white"/>
    <path d="M71.0764 52.192C73.2784 53.4633 73.2784 56.6417 71.0764 57.913L49.9163 70.1298C47.7142 71.4012 44.9617 69.812 44.9617 67.2693V42.8357C44.9617 40.293 47.7142 38.7038 49.9163 39.9752L71.0764 52.192Z" fill="#221F20"/>
  </svg>
</div>
