.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0;
  list-style: none;
}
.breadcrumbs .Product {
  margin-bottom: unset;
}
.breadcrumbs__item {
  display: flex;
  align-items: center;
  gap: 4px;
}
.breadcrumbs .breadcrumbs__item a {
  text-align: left;
  color: #000;
  letter-spacing: 0.16px;
}

.collection-page .breadcrumbs .breadcrumbs__item .breadcrumbs__link_home {
  color: rgba(0, 0, 0, 0.5);
  line-height: normal;
  letter-spacing: 0.4px;
}
.collection-page .breadcrumbs .breadcrumbs__item .breadcrumbs__link-collecction {
  color: #000;
  line-height: normal;
  letter-spacing: 0.4px;
}

.breadcrumbs .breadcrumbs__item.active {
  color: #000;
  padding-left: 5px;
  text-decoration: none;
  text-align: left;
}
.breadcrumbs .breadcrumbs__list {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  padding: 0;
  margin-bottom: 0;
  /* margin-top: 1.6rem; */
  list-style: none;
  flex-direction: row;
  text-decoration: none;
  overflow: hidden;
}
.breadcrumbs__item:not(:last-child):after {
  content: ">";
  position: relative;
  font-size: 1.094vw;
  font-weight: 400;
  text-decoration: none;
  margin: 0 0.1rem;
}
.collection-page .breadcrumbs__item:not(:last-child):after {
  content: "/";
  font-size: 19px;
  margin: 0;
  margin-right: 4px;
  margin-top: 1px;
}

@media screen and (max-width: 768px) {
  .collectionbreadcrumb {
    display: none;
  }
  .breadcrumbs__item:not(:last-child):after {
    font-size: 18px;
    line-height: 1.1;
  }
  .breadcrumbs__item {
    font-size: clamp(calc(14 * 0.9px), calc(14 * (100vw / 428)), calc(14 * 1.1px));
    letter-spacing: 0.14px;
  }
  .breadcrumbs .breadcrumbs__item a {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.1;
  }
  /* .breadcrumbs .breadcrumbs__list {
    margin-bottom: 0.9rem;
  } */
  .breadcrumbs .breadcrumbs__list .breadcrumbs__item.pb .breadcrumbs__link {
    white-space: nowrap;
    text-overflow: ellipsis;
    width: calc(100% - 35px);
    overflow: hidden;
  }
  .breadcrumbs.Collection {
    display: none;
  }
}
