.custom-product-info .product__accordion .accordion__content {
  padding-left: 0;
  padding-right: 0;
}
.custom-product-info .product__accordion .accordion__content ol,
.custom-product-info .product__accordion .accordion__content ul {
  padding-left: 0;
}
.custom-product-info .accordion {
  margin-top: 0;
}
